quarkus:
  http:
    cors:
      enabled: true
      origins: http://localhost:5173
      methods: GET,POST,PUT,DELETE
      headers: accept,authorization,content-type
  flyway:
    migrate-at-start: true
    locations: db/migration
  smallrye-jwt:
    enabled: true

  # --- Database ---
  datasource:
    db-kind: postgresql
    username: postgres
    password: postgres
    jdbc:
      url: jdbc:postgresql://localhost:5433/healthatlas
    # when running inside docker-compose, this host should be "postgres"
    # override with env var QUARKUS_DATASOURCE_JDBC_URL in compose

  hibernate-orm:
    database:
      generation: none  # use 'none' in prod, 'update' or 'drop-and-create' in dev
    log:
      sql: true
      format-sql: true

mp:
  jwt:
    verify:
      publickey:
        location: publicKey.pem
      issuer: healthatlas
